
<div class="row">
  <div class="large-8 columns">
    <div class="login-box">
    <h5> LIVE VOICE MESSAGES </h5>
      <div class="row">
        <div class="large-12 columns">


			<p>CareToCall voice messages can be about anything and are recorded by you or someone in your life.</p>

			<p>Because the message is specific to you and you know the person who records it, your calls can be in any language, about any thing, and are certain to be understandable.</p>

			<p>As a CareToCall senior check-in service subscriber, you can ask your children or grandchildren to record the live voice messages you’re scheduled to receive, adding a touching personal element to that designated moment of the day, comforting you through the sound of their voices.</p>

			<p>Our optional live voice message service is completely customizable. You can change the message, as well as when or how often you receive it any time you wish, through the easy to use, password protected, CareToCall customer dashboard.</p>

        </div>
      </div>
    </div>
  </div>


  <div class="large-4 columns">
    <section data-ng-include src="'modules/homepage/views/sidebar-homepage.html'"></section>
  </div>


</div>

