<div class="row">
  <div class="large-8 columns">
    <div class="login-box">
    <h5> PERSONALIZED CALENDAR </h5>
      <div class="row">
        <div class="large-12 columns">

        	
		<p>Staying on the same page. It’s a popular cliche used to illustrate the importance of everyone having access to the same information.</p>

		<p>Your CareToCall personalized calendar allows everyone in your designated personal support network to see what appointments, special dates or words of encouragement you post on your calendar.</p>

		<p>Instead of phoning everyone on the list each time something is coming up, you can simply post the details on your calendar and they’ll be notified that you have added a new “event.” Once this happens, the friends and loved ones in your personal network can click that they’ve seen the event or even confirm that they’re planning to attend (if it’s something they are invited to).</p>

		<p>Your personalized calendar even allows your loved ones to double check when and where you plan to be that day, and follow up with you if you didn’t make it to the event or if you’re running late and your friends are concerned why.</p>

		<p>The added level of communication and reassurance that come with CareToCall’s convenient personalized calendar allow you to make plans simply, while at the same time providing extra information to your loved ones in case those plans change.</p>

		<p>Family and friends can also post events directly on your calendar, providing an easy way for you to keep on top of what’s happening.</p>
        </div>
      </div>
    </div>
  </div>

    <div class="large-4 columns">
    <section data-ng-include src="'modules/homepage/views/sidebar-homepage.html'"></section>
  </div>

</div>

