<div class="login-box">
	<h6>About care to call</h6>
	<ul class="side-nav" >
		<li><a ui-sref="default.who">Who is using?</a></li>
		<li><a ui-sref="default.testimonials">Testimonials</a></li>
		<li><a ui-sref="default.who">Senior care facts</a></li>
		<li><a ui-sref="default.who"> Affiliate information </a></li>
	</ul>
	<img src="assets/images/Video-Right-Column.jpg" ng:click="quickDemo()" style="margin-bottom:10px;cursor:pointer;">
	<a ui-sref="default.signup">
		<img src="assets/images/Plans-Right-Column-static.jpg" ng:click="quickDemo()" style="margin-bottom:10px;cursor:pointer;">
	</a>
</div>