<div class="login-box">
	<h6>Services we offer</h6>
	<ul class="side-nav" >
		<li><a ui-sref="default.voice">Live Voice Messages</a></li>
		<li><a ui-sref="default.medication">Medication Management</a></li>
		<li><a ui-sref="default.text">Text Messaging</a></li>
		<li><a ui-sref="default.phone">Reassurance Phone Calls</a></li>
		<li><a ui-sref="default.private">Personal Private Network</a></li>
		<li><a ui-sref="default.personalized">Calendar Reminders</a></li>
	</ul>
	<img src="assets/images/Video-Right-Column.jpg" ng:click="quickDemo()" style="margin-bottom:10px;cursor:pointer;">
	<a ui-sref="default.signup">
		<img src="assets/images/Plans-Right-Column-static.jpg" style="margin-bottom:10px;cursor:pointer;">
	</a>
	
</div>