<div class="row">
  <div class="large-8 columns">
    <div class="login-box">
    <h5> AUTOMATIC TEXT MESSAGING SERVICE</h5>
      <div class="row">
        <div class="large-12 columns">
		<p> 
			Sometimes the answer to overcoming social isolation is as simple as a text message.
		</p>

		<p> 
			While many people prefer the comfort of hearing a voice on the other end of the line in   a senior check in call, text messages are an effective, immediate way to remind yourself  to take your medication, attend a social function, or call a friend on their birthday.
		</p>
		<p>
			CareToCall’s automatic texting service is also a way for loved ones to arrange to automatically send you daily messages of encouragement. That way you’ll connect with them, no matter how busy they are that day.
		</p>

		<p>
			Because text messages are immediate and instant, they are much more effective than email, which can easily become lost in infrequently checked In-Boxes.
		</p>

		<p>
			CareToCall text messages offer one of the most effective ways for people with chronic conditions like diabetes, high blood pressure, COPD, and asthma to remember to take their medications at designated times.
		</p>

		<p>
			If you’re in the midst of a major lifestyle change, like quitting smoking or sticking to a daily exercise plan, receiving an encouraging CareToCall text message (“Another day of clean air for your lungs, and another $7 saved. It’s adding up!” or “Your heart, muscles and lungs thank you. With today’s workout, you’ll be stronger and healthier than you were yesterday!”) at a specific time each day, can keep you focussed and motivated to continue those good habits.
		</p>
		<p>Senior check in text messages are also a reasonably priced way of keeping you connected with your loved ones, however many miles separate you at that moment.</p>

        	
        </div>
      </div>
    </div>
  </div>

    <div class="large-4 columns">
    <section data-ng-include src="'modules/homepage/views/sidebar-homepage.html'"></section>
  </div>

</div>

