<!-- start: application header -->
<header data-ng-include src="'modules/core/views/partials/header.html'" id="app-header" class="navbar"></header>
<!-- end: application header -->

<!-- start: application content -->
<section >
  <!-- start: indicator -->
  <div class="spinner-wrapper"><div data-indicator></div></div>
  <!--/ end: indicator -->

  <!-- start: content-body -->
  <div data-ui-view></div>
  <!--/ end: content-body -->
</section>
<!--/ end: application content -->


<!-- start: application footer -->
<footer class="panel" data-ng-include src="'modules/core/views/partials/footer.html'"></footer>
<!--/ end: application footer -->
