<!-- start: application header -->
<header data-ng-include src="'modules/core/views/partials/header.html'" id="app-header" class="navbar"></header>
<!-- end: application header -->


<div class="container">
	
	<div class="row">
		
		<!-- start: application content -->
		<section id="app-content" class="col-sm-4 well" data-ng-style="{'min-height':+core.screen.height+'px'}">
		  <!-- start: indicator -->
		  <div class="spinner-wrapper"><div data-indicator></div></div>
		  <!--/ end: indicator -->

		  <!-- start: content-body -->
		  <div class="content-body slide-down" data-ng-style="{'min-height':+core.screen.height+'px'}" data-ui-view></div>
		  <!--/ end: content-body -->
		</section>
		<!--/ end: application content -->

		<!-- start: application sidebar (left) -->
		<aside data-ng-include src="'modules/core/views/partials/sidebar-right.html'" class="col-sm-8"></aside>
		<!--/ end: application sidebar (left) -->
	</div>


	<!-- start: application footer -->
	<footer data-ng-include src="'modules/core/views/partials/footer.html'" id="app-footer"></footer>
	<!--/ end: application footer -->
</div>