<div class="row">
  <div class="large-6 columns">
    <div class="login-box">
	    <h4> Get In Touch WITH CARE TO CALL </h4>
	    <p>We’d love to hear from you. If you have any questions or concerns please don’t hesitate to ask. We’d be happy to hear your ideas and concerns.</p>
	    <hr/>
      <div class="row">
        <div class="large-12 columns">

        	<form>
			  <div class="row">
			    <div class="large-12 columns">
			      <label> Name
			        <input type="text" placeholder="Your name" />
			      </label>
			    </div>
			  </div>
			  
			   <div class="row">
			    <div class="large-12 columns">
			      <label> Phone
			        <input type="text" placeholder="Number you use" />
			      </label>
			    </div>
			  </div>
			  
			   <div class="row">
			    <div class="large-12 columns">
			      <label> Email
			        <input type="text" placeholder="Email address" />
			      </label>
			    </div>
			  </div>
			  
			  <div class="row">
			    <div class="large-12 columns">
			      <button>Submit</button>
			    </div>
			  </div>
			</form>		
        </div>
      </div>
    </div>
  </div>

  <div class="large-6 columns">
    <div class="login-box">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2615.910837848042!2d-122.86614229999999!3d49.03130279999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5485c326a8af5a73%3A0x5ae7e8a747d3361c!2s12851+16+Ave%2C+Surrey%2C+BC+V4A+1N6%2C+Canada!5e0!3m2!1sen!2sus!4v1415218605510" width="100%" height="450" frameborder="0" style="border:0"></iframe>
	</div>
  </div>
  

</div>



