

<div class="row">
  <div class="large-8 columns">
    <div class="login-box">
    <h5> MEDICATION MANAGEMENT </h5>
      <div class="row">
        <div class="large-12 columns">




<p>If you live alone, you know how difficult it is to remember all of life’s little details by yourself. Unlike a lot of those daily distractions, however, taking your medication at the right time is one moment of your day that you can’t afford to forget.</p>

<p>We’ve developed a very simple way to ensure you will remember to take your medication.</p>

<p>CareToCall’s senior check-in service includes the option to receive daily (or several times a day) calls reminding you to take your medication. If you don’t answer the call or if the call goes to voicemail or your answering machine, your designated loved one will receive a forwarded version of that call.</p>

<p>That family member or friend can then check in on you to make sure everything is okay.</p>

<p>If the first person in your private network does not respond, CareToCall’s senior check-in service continues to forward your call to the next person on your prioritized list. This happens very quickly, ensuring someone in your network knows, right away, that you haven’t been reminded to take your medication yet that day.</p>

<p>You may remember to take your medication most of the time already, but on those days when your thoughts weigh heavy on other things, or when your regular routine is thrown into disarray, it will be comforting (for you and those who care about you) to know that you have a reliable, easy to put in place, back up plan.</p>


        	
        </div>
      </div>
    </div>
  </div>

    <div class="large-4 columns">
    	<section data-ng-include src="'modules/homepage/views/sidebar-homepage.html'"></section>
    </div>

</div>

