<div class="row">
  <div class="large-8 columns">
    <div class="login-box">
    <h5> PRIVATE SUPPORT NETWORK </h5>
      <div class="row">
        <div class="large-12 columns">

        	
		<p>We have a simple way of keeping you connected with the people you count on most. It’s easy to set up and, once in place, is always there to ensure you are never alone.</p>

		<p>An important feature of CareToCall’s virtual assisted living service is your Private Personal Network. With this personally chosen network of family members and friends, you set in place a circle of support that guarantees an open line of communication whenever you need one.</p>

		<p>You choose your support network, even prioritizing your call list, so that those closest to you receive your forwarded message (if you choose the reassurance call option) when you haven’t answered your senior care call or medication reminder. Your support network is also easily adaptable and can be changed at any time by accessing your personal password protected dashboard.</p>

		<h5>Having a Private Personal Network allows you to:</h5>
		<ul>
			<li>Receive medication and appointment reminders.</li>
			<li>Prerecord voice messages (senior care calls) that will automatically be sent at predetermined times.</li>
			<li>Receive birthday and anniversary reminders.</li>
			<li>Send e-greeting cards to anyone on your list.</li>
			<li>Upload photos to share.</li>
		</ul>

		<p>Sign up for a free trial of CareToCall’s virtual assisted living service to see how easy it is to create your private personal network, and experience the power of connectivity.</p>

        </div>
      </div>
    </div>
  </div>

    <div class="large-4 columns">
    <section data-ng-include src="'modules/homepage/views/sidebar-homepage.html'"></section>
  </div>

</div>

