

<div class="row">
  <div class="large-8 columns">
    <div class="login-box">
    <h5> REASSURANCE PHONE CALLS </h5>
      <div class="row">
        <div class="large-12 columns">



<p>No one can anticipate what each new day will bring. With CareToCall’s optional reassurance phone call service, you set in place an extra level of comfort that comes from knowing a friend or loved one will be notified if you are not answering your phone.</p>

<p>When something unexpected happens (you lost your purse or wallet, your car was in a fender bender in a parking lot, you had to cancel the day’s plans and go to the doctor’s because you feel ill, for example) you often don’t have the time or the presence of mind to notify the people closest to you.</p>

<p>Those trusted family members and friends will often be by your side the moment you need help . . . but first they have to know you need it.</p>

<p>CareToCall’s senior reassurance calls are a proactive way to put in place a personal network of people who will come to your aid when you did not answer your checking in, reassurance call. With this simple, efficient, system in place, you can go through each day carrying the peace of mind that, whatever happens, there’s a plan in place for one of your loved ones to be notified when you did not answer your reassurance call.</p>

<p>As a bonus, your prerecorded message can also become an encouraging little break in your day. You can choose to record words of inspiration for example, or have family members such as your grandchildren record greetings or funny thoughts that can help you through the day.</p>



        	
        </div>
      </div>
    </div>
  </div>

  <div class="large-4 columns">
    <section data-ng-include src="'modules/homepage/views/sidebar-homepage.html'"></section>
  </div>

</div>

