





<div class="row">
  <div class="large-8 columns">
    <div class="login-box">
	    <h4> TESTIMONIALS - WEBSITES BY THE MONTH </h4>
	    <hr/>
      <div class="row">
        <div class="large-12 columns">


		<blockquote>
			Your website was recommended to me by a family friend and I am so pleased to see the services you offer. I have an elderly father living in Calgary and can not check on him daily because I live in another part of Canada. Now that I have him signed up as a customer with CareToCall I have peace of mind knowing that your service is in contact with him. I can schedule a reminder call to my dad for his medications and doctors appointments and family members birthdays. Dad really enjoys the fact that he still has his independence and privacy and I enjoy the peace of mind CareToCall has given to us as a family. Thank you CareToCall.
			<cite> Sally Jessie Raphael, Retired Talk Show Host</cite>
		</blockquote>

		
		<blockquote>
			Having spent most of my health care career providing service and support for seniors, I am delighted to endorse CareToCall.  Home is best and the important services provided by CareToCall are key to ensuring safety and independence of seniors.
			<cite> Keith G. Anderson, President, Keith G. Anderson & Associates Inc.</cite>
		</blockquote>

		
        </div>
      </div>
    </div>
  </div>

  <div class="large-4 columns">
    <section data-ng-include src="'modules/homepage/views/sidebar-about.html'"></section>
  </div>
  

</div>



