





<div class="row">
  <div class="large-8 columns">
    <div class="login-box">
	    <h4> WHO’S USING CARETOCALL? </h4>
	    <hr/>
      <div class="row">
        <div class="large-12 columns">


			<p>Our daily call service provides a circle of care for seniors and independent adults who need the daily reassurance that someone will know when they can’t answer their phone.  CareToCall is unique because it provides the same level of comfort to your family members, because they know, without a doubt, that there is a system in place that keeps the lines of communication between you, constantly open. </p>

			<h5>
				<i>CARING FAMILY MEMBERS</i>
			</h5>
			<hr/>


			<p>Many family members want to ensure their loved one lives life in independent freedom, knowing they are not alone. Our senior care calls not only check in to make sure your loved one is safe and healthy, they remind them to take their medication, make bill payments and to attend important events. With CareToCall your loved ones can also start their day with a friendly wake up call (sometimes with a convenient reminder that it’s someone’s birthday or anniversary!).</p>

			<p>You or your loved ones can schedule their calls into their daily routine using the user friendly dashboard, accessed on your password protected account page on the CareToCall website.</p>

			<h5>
				<i>INDEPENDENT ADULTS</i>
			</h5>
			<hr/>

			<p>You enjoy living on your own and you want to take the necessary steps to help you stay as independent as possible, for as long as possible.</p>

			<p>CareToCall’s reassurance call service eases the worries you (or the people who care about you) may have that no one will know if you suddenly fall ill or are hurt. With your subscription to CareToCall, you can erase your anxieties by setting up a private family network of your choosing.</p>

			<p>You decide who will be notified if you have not answered your daily (or multiple-daily) senior check in call.</p>

			<p>If you are concerned that you’re becoming more forgetful, CareToCall is the perfect way to ensure you have backup support. At any time, you or your loved one can arrange senior care calls to remind you to take your medication, pay bills, call someone on their birthday, or watch the hockey game that night.</p>

			<p>Your personal account page on the CareToCall website is easy to use, edit and update and is fully customizable to your needs.</p>

			<h5>
				<i>CAREGIVERS</i>
			</h5>
			<hr/>

			<p>Looking after your elderly parents or family members is both a privilege and a challenge. It involves a constant balance between respecting their independence and putting safeguards in place to ensure they are safe and remaining connected.</p>

			<p>CareToCall’s senior check-in service is a non-intrusive, cost effective tool that doesn’t require specialized technology or hardware and is easy to set up and maintain. You simply go to your password protected personal dashboard on the CareToCall website and designate when your loved one receives reassurance, reminder, or wake up calls (calls can be for any reason, but these are the most common) record the messages and designate who receives the forwarded message if your loved one does not answer the phone, or if the call goes to voicemail.</p>

			<p>For a modest monthly fee, you can tap into the power of the CareToCall virtual assisted living service, providing you with the peace of mind that comes by adding an extra level of protection and safety to your loved one’s day-to-day routine. Try our senior call service for free for 30 days to see how adding this simple tool to your lives will make a big difference.</p>
          
        </div>
      </div>
    </div>
  </div>

  <div class="large-4 columns">
    <section data-ng-include src="'modules/homepage/views/sidebar-about.html'"></section>
  </div>
  
</div>



