<div class="contain-to-grid sticky">
    <top-bar data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li toggle-top-bar class="menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <top-bar-section>
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="icons"><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li class="icons"><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li class="icons"><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li class="icons"><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li class="icons"><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li class="icons"><a href="#"><i class="fa fa-youtube"></i></a></li>

          <li has-dropdown  ng:show="!user">
            <a ui-sref="default.login">LogIn</a>
            <ul top-bar-dropdown>
              <li><a ui-sref="default.signup">SignUp</a></li>
            </ul>
          </li>
          
          <li has-dropdown ng:show="user" ng:hide="user.is_admin">
            <a ui-sref="dashboard.index">Dashboard</a>
            <ul top-bar-dropdown>
              <li><a ui-sref="dashboard.reminders">Reminders</a></li>
              <li><a ui-sref="dashboard.members">Members</a></li>
              <li><a ui-sref="dashboard.ecards">E Cards</a></li>
              <li><a ui-sref="dashboard.account">Account</a></li>
              <li><a ui-sref="dashboard.billing">Billing</a></li>
              <li><a ng:click="logout();">Logout</a></li>
            </ul>
          </li>

          <li has-dropdown  ng:show="user.is_admin">
            <a ui-sref="admin.index">Admin Panel</a>
            <ul top-bar-dropdown>
              <li><a ng:click="logout();">Logout</a></li>
            </ul>
          </li>
          
          <li class="">
            <a href="#"><i class="fa fa-phone"></i>
            (877) 502-1062
            </a>
          </li>
          <li class="">
            <a href="#"><i class="fa fa-inbox"></i>
            info@caretocall.com
            </a>
          </li>
        </ul>
      </top-bar-section>
    </top-bar>
</div>


<div class="row top_margin account">
    <div class="large-2 columns">
      <img src="assets/images/logo-caretocall.png" id="logo">
    </div>
  </div>

<div class="row">
	<div class="large-6 large-offset-6 columns">
	  
	  <dl class="sub-nav right" ng:show="user && !user.is_admin">
        <!-- <dd class="active"><a href="#">All</a></dd> -->
        <dd><a ui-sref="dashboard.account">Account</a></dd>
        <dd><a ui-sref="dashboard.billing">Billing</a></dd>
        <dd class="hide-for-small-only"><a ng:click="logout();">LogOut</a></dd>
    </dl>
    
    <dl class="sub-nav right" ng:show="user.is_admin">
        <dd class="hide-for-small-only"><a ng:click="logout();">LogOut</a></dd>
    </dl>
    
	</div>
	<hr/>
</div>
