		<ul class="side-nav" ng:show="user" ng:hide="user.is_admin">
          <li ><a ui-sref="dashboard.index"><i class="fa fa-laptop"></i> Dashboard</a></li>
          <li ><a ui-sref="dashboard.reminders"><i class="fa fa-calendar-o"></i> Reminders</a></li>
          <li><a ui-sref="dashboard.members"><i class="fa fa-users"></i> Members</a></li>
          <li><a ui-sref="dashboard.ecards"><i class="fa fa-envelope-o"></i> E Cards</a></li>
          <li class="divider"></li>
          <li><a ui-sref="dashboard.history"><i class="fa fa-history"></i> Care History</a></li>
        </ul>
		<ul class="side-nav" ng:show="user.is_admin">
          <li ><a ui-sref="dashboard.admin_index"><i class="fa fa-laptop"></i> Dashboard</a></li>
          <li ><a ui-sref="dashboard.admin_users"><i class="fa fa-user"></i> Users</a></li>
          <li ><a ui-sref="dashboard.admin_plans"><i class="fa fa-money"></i> Plans</a></li>
          <li><a ui-sref="dashboard.admin_ecards"><i class="fa fa-users"></i> E cards</a></li>
          <li class="divider"></li>
          <li><a ui-sref="dashboard.admin_settings"><i class="fa fa-envelope-o"></i> Settings</a></li>
        </ul>        