
      <div class="row">
          <div class="large-4 medium-4 small-6 columns">
            <img src="assets/images/logo-caretocall.png">
            <h4>
              Connect us socially
            </h4>
            <br/>
            <ul class="inline-list social">
              <li>
                <a href="#" class="button tiny secondary">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#" class="button tiny secondary">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" class="button tiny secondary">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
              <li>
                <a href="#" class="button tiny secondary">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="#" class="button tiny secondary">
                  <i class="fa fa-youtube"></i>
                </a>
              </li>
            </ul>
            
            <br/>© Copyright 2015 - Care to Call.<br/>
            All Right Reserved.
          </div>
          
          <div class="large-4 medium-4 small-6 columns">

            <ul class="no-bullet">
              <li>
                <h4>
                  Helpful articles
                </h4>
              </li>
              <li>
                <P>
                  <blockquote>
                    <a href="#">
                      Good Info About In Home Safety
                    </a> <br/>
                    <cite>by Care to Call on October 22, 2014</cite>
                  </blockquote>
                </P>
              </li>
              <li>
                <P>
                  <blockquote>
                    <a href="#">
                      Support for Care to Call
                    </a> <br/>
                    <cite>by Care to Call on October 22, 2014</cite>
                  </blockquote>
                </P>
              </li>
              <li>
                <P>
                  <blockquote>
                    <a href="#">
                      Duis autem vel eum
                    </a> <br/>
                    <cite>by Care to Call on October 22, 2014</cite>
                  </blockquote>
                </P>
              </li>
              <li>
                <P>
                  <blockquote>
                    <a href="#">
                      Mirum est notare quam
                    </a> <br/>
                    <cite>by Care to Call on October 22, 2014</cite>
                  </blockquote>
                </P>
              </li>

             </ul>
              
          </div>
          <div class="large-4 medium-4 small-6 columns">
            <h4>
              Contact Info
            </h4>
            <p>
              Care to Call admin is open from Monday to Friday from 9AM-4PM PST . Our 24-7 help line is open 365 days a year.
            </p>
            <ul class="no-bullet">
              <li>
                <a href="#">
                  <i class="fa fa-building-o"> </i>
                    32-12851-16 Avenue Surrey,
                    <br/>British Columbia,
                    <br/>V4A 3V0<br/>
                    Canada
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-phone"> </i> (877) 502.1062 (Toll Free)
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-inbox"> </i> concierge@caretocall.com
                </a>
              </li>
            </ul>
            
          </div>
      </div>